#navbar {
	--navbar-background: var(--primary);
	--nav-padding: 32px;
	--nav-height: 100px;

	--navbar-brand-background: transparent;
	--navbar-brand-h1-color:#fff;
	--navbar-brand-h1-fontSize:1.4em;
	--navbar-brand-img-width:100%;
	--navbar-brand-img-maxWidth:100%;

	--navbar-toggle-background: transparent;
	--navbar-toggle-color:#fff;

	--navbar-menu-url-color: rgb(225, 225, 255);
	--navbar-menu-url-fontSize: 1.4em;

}

#navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background: var(--navbar-background);
}
.nav {
	display: flex;
	justify-content: space-between;
	max-width: var(--page-max-width);
	width: 94%;
	margin: auto;
}

.brand {
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--navbar-brand-background);
}
.brand h1 {
	color:var(--navbar-brand-h1-color);
	font-size:var(--navbar-brand-h1-fontSize);
}

.brand img {
	width:var(--navbar-brand-img-width);
	max-width:var(--navbar-brand-img-maxWidth);
}

#menu {
	width: 100%;
}

.toggles {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	float: right;
	width: 50px;
	height: 100%;
	background: var(--navbar-toggle-background);
	z-index: 2;
}
.toggles i { 
	color:var(--navbar-toggle-color);
}


input#toggle {
	display: none;
	position: relative;
}

input#toggle:checked+.menu-list {
	display: block;
}

.menu-list a {
	color: var(--navbar-menu-url-color);
	font-size: var(--navbar-menu-url-fontSize);
}


@media screen and (max-width: 767px) {

	.menu-list {
		position: absolute;
		top: var(--nav-height);
		right: 0;
		width: 100%;
		display: none;
		background: var(--navbar-background);

	}
}

/* large screens*/

@media screen and (min-width: 768px) {

	#menu {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.menu-list {
		position: relative;
		top: 0;
		right: 0;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}

	.menu-list li {
		margin: 8px 16px;
	}

	.toggles {
		display: none;
	}

}