/*form*/






/*navbar*/
.navbar-empty {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--page-max-width);
    margin: auto;
}

.navbar-empty i {
    margin: 8px;
    color: var(--primary);
    font-size: 5em;
}
.navbar-empty h3 {
    margin: 0px;
    color: var(--primary);
    font-size: 2em;
}

[class*="module"].headlines {
    --h2-font-size: 4em !important;
    --h3-font-size2: 2em !important;
    --insert-padding: 64px !important;
}

[class*="module"].box-quotes {
    background: #fff;
    box-shadow: var(--shadow);
    --insert-padding: 64px 32px;
    --insert-display: flex;
    --insert-justify-content: center;
    --insert-align-items: center;
    --insert-flex-direction: column;
    --fa-text-align: center;
    --fa-padding: 32px 0;
    --fa-font-size: 4em;
    --fa-color: var(--primary);
    transition: transform .3s ease-out;
}

.box-quotes:hover {
    transform: translate(0, -5px);
}




a.quotes-page  {
    color: blue !important;
}

.icon-bottom i {
    font-size: 5em;
}

.foot-menu a {
    color: var(--primary) !important;
    margin: 4px 2px;
}







.flip-box {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: transparent; */
    width: 300px;
    height: 150px;
    /* border: 1px solid #f1f1f1; */
    perspective: 1000px;
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateX(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    /* background-color: #bbb; */
    color: black;
  }
  
  .flip-box-back {
    /* background-color: dodgerblue; */
 
    transform: rotateX(180deg);
  }  

  .flip-box-back h2 {
    color: var(--primary) !important;
  }


  a {
      color:blue !important;
  }