#footer {
    padding: 32px 0px;
    color: #000;
    background: var(--footer-background);

}

.footer {
    margin: auto;
    max-width: var(--page-max-width);
    color:var(--footer-text-color);
    width: 100%;
}


#footer h5 {
    margin: 16px 0;
    color:var(--footer-text-color);
    opacity: 9;
}

#footer ul.menu-list[class*="column"] {
    --insert-padding:1028px !important;
}

#footer ul.menu-list {
    max-width: var(--page-max-width);
    margin: 0;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex;
    width: 100%;
    grid-column: 1 / -1;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-between;
}


#year {
    font-size: 16px;
    color:var(--footer-text-color);
}

h2.copyright {
    font-size: 16px!important;
    color:var(--footer-text-color) !important;
}

h2.copyright:before {
    font-size: 16px;
    color:var(--footer-text-color) !important;
    margin: 4px;
    content: ' \00A9';
}













