/*

UI-3-v1.0

This is the stylesheet that master the UI-3 CORE



***************************************************************************** */



:root {
	--primary: #00108a;
	--secondary: #00108a;
	--tertiary: rgb(242, 242, 242);
	--quaternary: #FAFAFA;

	--border: #d8d8d8;

	--shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

	--dark-trans: #000;
	--dark-trans: rgb(0, 0, 0.99);
	--dark-trans: rgba(0, 0, 0, 0.75);
	--light-trans: #fff;
	--light-trans: rgb(255, 255, 255);
	--light-trans: rgba(255, 255, 255, 0.75);

	--text-dark: #000;
	--text-color: #2b2b2b;
	--text-light: #6a6a6a;

	--lightgray: #838383;
	--darkgray: #8C8C8C;

	--gray: gray;
	--black: black;
	--white: white;
	--silver: silver;
	--red: red;
	--green: green;
	--blue: blue;
	--orange: orange;
	--yellow: yellow;
	--indigo: indigo;
	--fuchsia: fuchsia;
	--cyan: cyan;
	--aqua: aqua;
	--aquamarine: aquamarine;

	--pt-sans: 'PT Sans', sans-serif;
	--pt-sans-caption: 'PT Sans Caption', sans-serif;

	--page-max-width: 1024px;

}



*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 16px;
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	overflow-x: hidden;
	-webkit-tap-highlight-color: transparent;
}

body {
	margin: 0;
	padding: 0;
	line-height: 1.6;
	font-weight: 100;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p,
a,
ul,
li,
span {
	font-family: var(--pt-sans)!important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--pt-sans-caption)!important;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: #c8c8ff;
}

a:hover {
	opacity: 0.7;
	text-decoration: none !important;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

















[class*="deep-img-"],
[class*="deep-both-"] {
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right center;

	--bg-gradient-1: #0F2027;
	--bg-gradient-1: -webkit-linear-gradient(to right, rgba(44, 83, 100, 0.55), rgba(32, 58, 67, 0.52), rgba(15, 32, 39, 0.54));
	--bg-gradient-1: linear-gradient(to right, rgba(44, 83, 100, 0.53), rgba(32, 58, 67, 0.53), rgba(15, 32, 39, 0.56));

	--bg-gradient-2: #000000;
	--bg-gradient-2: -webkit-linear-gradient(to right, rgba(15, 155, 15, 0.63), rgba(0, 0, 0, 0.34));
	--bg-gradient-2: linear-gradient(to right, rgba(15, 155, 15, 0.63), rgba(0, 0, 0, 0.61));

	--bg-gradient-3: #44A08D;
	--bg-gradient-3: -webkit-linear-gradient(to right, rgba(9, 54, 55, 0.66), rgba(68, 160, 141, 0.44));
	--bg-gradient-3: linear-gradient(to right, rgba(9, 54, 55, 0.58), rgba(68, 160, 141, 0.63));

	--bg-gradient-4: #c21500;
	--bg-gradient-4: -webkit-linear-gradient(to right, rgba(255, 197, 0, 0.62), rgba(194, 21, 0, 0.54));
	--bg-gradient-4: linear-gradient(to right, rgba(255, 197, 0, 0.61), rgba(194, 21, 0, 0.59));

	--bg-gradient-5: #4776E6;
	--bg-gradient-5: -webkit-linear-gradient(to right, rgba(142, 84, 233, 0.6), rgba(71, 118, 230, 0.56));
	--bg-gradient-5: linear-gradient(to right, rgba(142, 84, 233, 0.6), rgba(71, 118, 230, 0.58));

	--bg-gradient-6: #0F2027;
	--bg-gradient-6: -webkit-linear-gradient(to right, rgba(6, 54, 80, 0.72), rgba(10, 72, 48, 0.7), rgba(5, 28, 80, 0.77));
	--bg-gradient-6: linear-gradient(to right, rgba(14, 50, 85, 0.78), rgba(8, 92, 69, 0.81), rgba(18, 19, 25, 0.72));

	--bg-gradient-7: #000;
	--bg-gradient-7: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0.72), rgba(1, 7, 10, 0.71), rgba(0, 0, 0, 0.77));
	--bg-gradient-7: linear-gradient(to right, rgba(0, 1, 2, 0.78), rgba(0, 0, 0, 0.81), rgba(5, 6, 13, 0.72));

}





.deep-primary {
	background: var(--primary)!important;
}

.deep-secondary {
	background: var(--secondary)!important;
}

.deep-tertiary {
	background: var(--tertiary)!important;
}

.deep-quaternary {
	background: var(--quaternary)!important;
}

.deep-border {
	background: var(--border)!important;
}

.deep-gray {
	background: var(--gray)!important;
}

.deep-black {
	background: var(--black)!important;
}

.deep-white {
	background: var(--white)!important;
}

.deep-silver {
	background: var(--silver)!important;
}

.deep-red {
	background: var(--red)!important;
}

.deep-green {
	background: var(--green)!important;
}

.deep-blue {
	background: var(--blue)!important;
}

.deep-orange {
	background: var(--orange)!important;
}

.deep-yellow {
	background: var(--yellow)!important;
}
.deep-cayn {
	background: var(--cayn)!important;
}
.deep-aqua {
	background: var(--aqua)!important;
}
.deep-aquamarine {
	background: var(--aquamarine)!important;
}


/*


how to display them


------------------------------------------------------------------------*/

[class*="deep-img-"].id {
	background-image: var(--bg-img-1);
}


[class*="deep-both-"].id {
	background-image: var(--bg-gradient-1), var(--bg-img-1);
}





[class*="deep-both-"][class*="header19425"]{
	background-image: var(--bg-gradient-2), url('img/img1.jpg') !important;
}






/*


list-format


------------------------------------------------------------------------*/

[class*="list-format"] {
	--insert-display: flex;
	--insert-justify-content: space-around;
	--insert-align-items: center;
	--insert-flex-direction: column;
	--insert-min-height: auto;

	--list-content: ' \2714';
	--list-font-size: 16px;
	--list-color: var(--black);

}

[class*="list-format-1"] {
	--list-content: ' \2022';
}

[class*="list-format-2"] {
	--list-content: ' \229A';
}

[class*="list-format-3"] {
	--list-content: ' \22A1';
}

[class*="list-format-4"] {
	--list-content: ' \25C9';
}

[class*="list-format-5"] {
	--list-content: ' \25C8';
}