
.embed {
    position: relative;
    padding-bottom: 56.25%;
}
.embed video, 
.embed iframe {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
}
.embed img {
    max-width: 100%;
    height: auto;
}


